:root {
  --golden: rgb(241, 224, 224);
  --pattern-size: 50%;
  --pattern-white: url("./pattern-white-5.png"); /*udělat drobnější pattern*/
  --pattern-black: url("./pattern-black-4.png");
}

/*parallax scrolling by šel i pomocí perspektivy, translateZ scale 
+ na parentu transform-style:preserve-3d; 
ale nakonec mám řešení přes background-attachment: fixed; 
- šlo i by fixed uvnitř fixed, tj. parallax uvnitř parallaxu */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: lightblue; /*pak pude pryč!*/
  color: white;
  font-family: "Bitter", serif;
  /* padding-bottom: 3rem; pro footer */
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  height: 5rem;
  color: black;
  display: flex;
  justify-content: space-between;
}

header * {
  border: red solid 1px;
}

h1 {
  text-transform: capitalize;
  margin: 0;
  flex-grow: 1;
  background-image: var(--pattern-white);
  background-size: var(--pattern-size);
  background-attachment: fixed;
  background-repeat: repeat;
  /* background-color: rgb(200, 200, 200); */
}

#menu-icon {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}

nav li,
h1 {
  height: 100%;
  display: flex;
}

nav li a,
h1 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: black;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: white;
  font-family: "Special Elite", cursive;
}

h1 a {
  background-color: transparent;
  color: gold;
  text-shadow: 2px 2px 2px black, 0px 0px 2px black;
}
nav li a:hover {
  background-color: transparent;
  color: white;
}

aside,
main {
  padding: 1rem 3rem 1rem;
}

h2 {
  font-family: "Special Elite", cursive;
}

#about {
  background-image: var(--pattern-black);
  background-size: var(--pattern-size);
  background-repeat: repeat;
  background-attachment: fixed;
  padding-top: 5rem; /*kvůli  navigaci, aby při hoveru šlo vidět 
  jednolité pozadí*/
  text-align: justify;
  color: gold;
}

/**/

main {
  /*nastavení výšky na 100vh přes JS, abych mohla v klidu používat console*/
  background-image: var(--pattern-white);
  background-size: var(--pattern-size);
  background-repeat: repeat;
  background-attachment: fixed;
  color: black;
  position: relative;
  padding-bottom: 100px; /*kvůli tlačítku na form*/
}

.mask {
  background: radial-gradient(
    rgba(255 255 255 / 0.9),
    rgba(255 255 255 / 0.9),
    rgba(255 255 255 / 0)
  ); /*udělat radial gradient, kdy do krajů by bylo méně transparentnosti - nebyl by to tak tvrdej přechod*/
}

#generator-section {
  /*nemůže být relative kvůli tlačítku*/
  display: flex;
  justify-content: space-between;
  height: 75%;
  border: solid green 1px;
}

#generator-form {
  flex: 0 1 50%;
}

table {
  /* border: solid green 1px; */
  width: 100%;
  /* -webkit-border-horizontal-spacing: 0px; */
  border-spacing: 0;
}

table tr:nth-child(odd) {
  background-color: gold;
}

table th,
table td {
  padding: 15px 10px;
}

table th {
  text-align: start;
}

#generator-form input,
#generator-form select {
  font-family: "Bitter", serif;
  display: inline-block;
  border: none;
}

#generator-form select:focus {
  outline: none;
}

#generator-form select[name="year"],
#generator-form input[type="color"] {
  width: 100%;
  text-align: center;
  height: 2rem;
}

#generator-form input[type="color"] {
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

#generator-form input[type="color" i] {
  padding: 0;
  flex: 1 1 auto;
}

::-webkit-color-swatch-wrapper {
  /*jinak je tam padding kolem barvy*/
  padding: 0;
}

/* 
input[type="radio"]:nth-of-type(2),
input[type="radio"]:nth-of-type(3) {
  padding-left: 2rem;
  padding-right: 0.5rem;
} */

#submit-button {
  position: absolute;
  background-color: lightgreen; /**/
  color: white;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 40px;
  font-family: "Bitter", serif;
  border: none;
  cursor: pointer;
}

#submit-button:hover {
  background-color: gold; /**/
  color: black;
}

#preview-container {
  flex: 0 0 45%;
  background-color: rgba(50 50 50 / 0.2); /**/
  display: grid;
  place-items: center;
}

/**/

#gallery {
  background-image: var(--pattern-black);
  background-size: var(--pattern-size);
  background-repeat: repeat;
  background-attachment: fixed;
  padding-bottom: 6rem;
}

#grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.img-grid {
  border: solid red 1px;
  aspect-ratio: 1 / 1;
}

.img-grid img {
  border: solid yellow 1px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.5s ease;
}

.img-grid img:hover {
  filter: grayscale(50%);
  object-fit: none; /*po optimalizaci fotek by tohle mohlo jít, 
  prostě by to šlo do své originální šířky*/
}

footer {
  background-image: var(--pattern-white);
  background-size: var(--pattern-size);
  background-repeat: repeat;
  background-attachment: fixed;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 3rem;
}

.link-in-text {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#about .link-in-text {
  color: gold;
}

.link-in-text:hover {
  font-weight: 700;
}

/**/

@media (max-width: 1200px) {
  aside,
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 900px) {
  header {
    display: block;
  }

  h1 {
    font-size: 1.3rem;
  }

  #menu-icon {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #000;
    transition: background-color 0.3s ease;
    border: none;
  }

  #menu-icon::before,
  #menu-icon::after {
    content: "";
    position: absolute;
    top: 6px;
    background-color: #fff;
    width: 100%;
    height: 6px;
    transition: transform 0.4s ease;
  }

  #menu-icon::after {
    top: 18px;
  }

  #menu-icon.active-icon {
    /*specificity*/
    background-color: #fff;
  }

  #menu-icon.active-icon::before {
    background-color: #000;
    transform: rotate(45deg) scaleX(1.4) translate(3px, 4px);
    border-radius: 4px;
  }

  #menu-icon.active-icon::after {
    background-color: #000;
    transform: rotate(-45deg) scaleX(1.4) translate(3px, -4px);
    border-radius: 4px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .active-nav {
    display: block;
  }

  nav ul li a {
    width: 100%;
    padding: 0.8rem 0;
    justify-content: center;
    /* background-color: rgb(0 0 0 /0.2); */
  }

  nav ul li a:hover {
    background-color: black;
  }

  main {
    height: auto;
  }

  #generator-section {
    flex-direction: column;
  }

  #text-change {
    color: red;
  }

  #generator-form {
    padding-bottom: 2rem;
  }

  /* #preview-container {
    place-items: stretch;
  } */

  .img-grid img {
    cursor: inherit;
  }
}
