:root {
  --golden: rgb(241, 224, 224);
  --pattern-size: 20%;
  --pattern-white: url("./img/pattern-white-5.png");
  --color-for-preview: black;
 --secondary-color: rgb(32, 32, 32);
}

/*parallax scrolling by šel i pomocí perspektivy, translateZ scale 
+ na parentu transform-style:preserve-3d; 
ale nakonec mám řešení přes background-attachment: fixed; 
- šlo i by fixed uvnitř fixed, tj. parallax uvnitř parallaxu */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
  color: white;
  font-family: "Bitter", serif;
  /* padding-bottom: 3rem; pro footer */
  position: relative;
}

.alertForPhones {
 display: none; /*grid*/
 position: absolute;
 inset: 0;
 background-color: rgba(0 0 0 / 0.6);
 place-items: center;
 z-index: 10000;
}

.alertForPhonesMessage {
  width: 80%;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10%;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  color: black;
  display: grid;
  place-items: center;
  position: fixed;
}

.alertForPhonesMessage button {
  position: absolute;
  top: 2rem;
  right: 3rem;
  border: none;
  background-color: transparent;
}

.alertForPhonesMessage button::before {
  content: "";
  position: absolute;
  background-color: #000;
  border-radius: 4px;
  width: 35px;
  height: 6px;;
  transform: rotate(45deg);
}

.alertForPhonesMessage button::after {
  content: "";
  position: absolute;
  background-color: #000;
  border-radius: 4px;
  width: 35px;
  height: 6px;
  transform: rotate(-45deg);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
  background-image: var(--pattern-white);
  background-size: var(--pattern-size);
  background-attachment: fixed;
  background-repeat: repeat;
}

h1 {
  text-transform: capitalize;
  margin: 0;
  flex-grow: 1;
}

#menu-icon {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}

nav li,
h1 {
  height: 100%;
  display: flex;
}

nav li a,
h1 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: var(--secondary-color);
  /* transition: background-color 0.2s ease, color 0.2s ease, background-image 0.2s ease; */
  background-image: var(--pattern-white);
  background-size: var(--pattern-size);
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: "Special Elite", cursive;
}

h1 a {
  color: var(--secondary-color);
  /* text-shadow: 2px 2px 2px black, 0px 0px 2px black; */
}

nav li a:hover {
  background-color: var(--secondary-color);
  color: white;
  background-image: none;
}

aside,
main {
  padding: 1rem 5rem 3rem;
}

h2 {
  font-family: "Special Elite", cursive;
  padding: 1rem 0;
}

#about {
  padding-top: 6rem; /*kvůli  navigaci, aby při hoveru šlo vidět 
  jednolité pozadí*/
  text-align: justify;
  color: white;
}

/**/

main {
  /*nastavení výšky na 100vh přes JS, abych mohla v klidu používat console*/
  background-image: var(--pattern-white);
  background-size: var(--pattern-size);
  background-repeat: repeat;
  background-attachment: fixed;
  color: var(--secondary-color);
  position: relative;
  padding-bottom: 100px; /*kvůli tlačítku na form*/
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3rem);
  background: radial-gradient(
    rgba(255 255 255 / 0.9),
    rgba(255 255 255 / 0.9),
    rgba(255 255 255 / 0)
  );
} /*udělat radial gradient, kdy do krajů by bylo méně transparentnosti - nebyl by to tak tvrdej přechod*/

.mask ~ h2 {
  z-index: 2;
  position: relative;
}

#generator-section {
  /*nemůže být relative kvůli tlačítku*/
  display: flex;
  justify-content: space-between;
  height: 75%;
  z-index: 2;
  position: relative; /*bez tohohle by nefungoval z-index*/
  /* border: solid green 1px; */
}

#generator-form {
  flex: 0 1 50%;
}

#generator-form p {
  padding: 1rem 0;
}

table {
  /* border: solid green 1px; */
  width: 100%;
  /* -webkit-border-horizontal-spacing: 0px; */
  border-spacing: 0;
}

table tr:nth-child(odd) {
  background-color: gold;
}

table th,
table td {
  padding: 15px 10px;
}

table th {
  text-align: start;
}

#generator-form input,
#generator-form select {
  font-family: "Bitter", serif;
  display: inline-block;
  border: none;
  cursor: pointer;
}

table tr:nth-of-type(3) label,
table tr:nth-of-type(3) input,
table tr:nth-of-type(4) label,
table tr:nth-of-type(4) input,
table tr:nth-of-type(5) label,
table tr:nth-of-type(5) input,
table tr:nth-of-type(6) label,
table tr:nth-of-type(6) input {
  cursor: pointer;
}

#generator-form select:focus {
  outline: none;
}

#generator-form select[name="year"],
#generator-form input[type="color"],
#generator-form select[name='month'] {
  width: 100%;
  text-align: center;
  height: 2rem;
}

#generator-form select[name="year"] {
  background-color: white;
}

#generator-form select[name='month'] {
  border: solid 1px rgba(0 0 0 / 0.5);
}

#generator-form input[type="color"] {
  background-color: transparent;
  width: 100%;
  padding: 0;
  display: flex;
}

#generator-form input[type="color" i] {
  padding: 0;
  flex: 1 1 auto;
}

::-webkit-color-swatch-wrapper {
  /*jinak je tam padding kolem barvy*/
  padding: 0;
}

/* 
input[type="radio"]:nth-of-type(2),
input[type="radio"]:nth-of-type(3) {
  padding-left: 2rem;
  padding-right: 0.5rem;
} */

/*radio*/
input[type="radio"] {
  opacity: 0;
  margin: 0 5px;
}

input[type="radio"]:nth-of-type(1) {
  margin-left: 0;
}

label.radio-label {
  /* border: solid purple 1px; */
  position: relative;
}

label.radio-label::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 10px;
  height: 10px;
  left: -17px;
  top: 4px;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px white;
}

.td-font label.radio-label::before {
  border-color: white;
  box-shadow: 0 0 1px 2px gold;
}

input[type="radio"]:checked + label.radio-label::before {
  background-color: var(--secondary-color);
  border: none;
}
/*konec radio*/

/*checkbox*/

input[type="checkbox"] {
  position: absolute;
  /*lepší design - zakrýt actual checkbox input, a pak ukázat
  empty checkbox a checked checkbox*/
  opacity: 0; /*zakrytí původního*/
  outline: none; /*to je zde nadbytečné, neb se rámeček spouští
  jen při klikání*/
}

.polygon::before {
  position: absolute;
  /* left: 0.9rem;
  top: 1rem; */
  content: "";
  border: 3px solid gold;
  border-radius: 0.2rem;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
}

#form-notes:checked ~ .polygon::before {
  background-color: gold;
}

td.td-polygon {
  /*kvůli polygonu*/
  position: relative;
  display: flex;
  height: 19.2px;
}

span.polygon {
  position: absolute;
}

#form-notes:checked ~ .polygon::after {
  position: absolute;
  left: 0.1rem;
  top: 0.1rem;
  width: 0.9rem;
  height: 0.9rem;
  content: "";
  background-color: var(--secondary-color);
  clip-path: polygon(0 30%, 35% 60%, 100% 0, 100% 25%, 35% 85%, 0 55%);
}
/*konec checkboxu*/

#submit-button {
  position: relative;
  z-index: 5;
  background-color: gold;
  color: var(--secondary-color);
  /* bottom: 40px;
  left: 50%;
  transform: translateX(-50%); */
  display: block;
  margin: 0 auto;
  bottom: -90px;
  padding: 10px 40px;
  font-family: "Bitter", serif;
  border: none;
  cursor: pointer;
}

#submit-button:hover {
  background-color: var(--color-for-preview); /*background-image: var(--gradient);*/ 
  background-image: none;
  color: white;
}

#preview-container {
  flex: 0 0 45%;
  /* background-color: rgba(50 50 50 / 0.2);  */
  position: relative;
}

#preview-orientation {
  /* background-color: rgba(200 200 200 / 0.2); */
  position: relative;
  margin: 0 auto; /*pozici absolute dát nemůžu, protože na výšce previewu je závislá výška celého main*/
  overflow: hidden; /*A ZAROVEN TO POTREBUJU OBEJIT PRO STIN ZA TIMTO ELEMENTEM*/
  /* border: 1px var(--secondary-color) solid; */
  box-shadow: 5px 5px 10px rgba(0 0 0 / 0.9);
}

#preview-orientation.orientation-landscape {
  width: 90%; /*nechceš přes celou šířku - pak se to snaží s celou šířkou dodržet aspect-ratio, a přesahuje svůj parent element + změnit u media*/
  height: auto;
  aspect-ratio: 1.4142 / 1; /*pro A4*/
}

#preview-orientation.orientation-portrait {
  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1.4142;
}



.preview, .template {
  background-color: white;
  padding: 25px 20px 30px 20px;
  color: var(--secondary-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.template {
  /* box-shadow: none; */
  z-index: 0; /**/
  box-shadow: none;
}

.preview {
  /* box-shadow: 5px 5px 10px rgba(0 0 0 / 0.9); nefunguje kvuli overflow hidden */
  z-index: 100;
}



.preview h3, .template h3 {
  margin: 0;
}

.preview__date {
  flex: 0 0 5%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.preview__days-of-week-container {
  flex: 0 0 5%;
  /* text-transform: capitalize; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 1px;
  color: white;
  /* box-shadow: 0 0 0em .7em white; /*tohle nefunguje pro printscreen, jen pro preview
  z-index: 20; */
  position: relative;
  padding-bottom: .5em;
}

.orientation-landscape .preview__days-of-week-container {
  flex: 0 0 8%;
}

.preview__days-of-week-container * {
  background-color: var(--color-for-preview);
  font-size: 1em; /*0.4rem*/
  display: grid;
  place-items: center;
}


.preview__calendar {
  flex: 1 1 60%;
  position: relative;
}



.preview__notes {
  flex: 0 0 20%;
  border: solid var(--color-for-preview) 1px;
  margin-top: 2%;
  padding: 1%;
  display: relative;
}

.no-notes {
  display: none;
}

.gray-numbers {
  color: gray;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    7,
    1fr
  ); /*tím pádem nepotřebuju znát počet týdnů u měsíců*/
}

.grid-child {
  border: solid var(--color-for-preview) 0.1px;
  padding: 8%;
}

.grid-child:nth-child(7n) {
  border-right: none;
}

.grid-child:nth-child(7n+1), .grid-child:first-child {
  border-left: none;
}

.grid-child:last-child, .grid-child:nth-last-child(2), .grid-child:nth-last-child(3), .grid-child:nth-last-child(4), .grid-child:nth-last-child(5), .grid-child:nth-last-child(6), .grid-child:nth-last-child(7) {
  border-bottom: none;
}

.grid-child:first-child, .grid-child:nth-child(2), .grid-child:nth-child(3), .grid-child:nth-child(4), .grid-child:nth-child(5), .grid-child:nth-child(6), .grid-child:nth-child(7) {
  border-top: none;
}

.changing-color {
  color: var(--color-for-preview);
}

/**/

#gallery {
  padding-bottom: 3rem;
}

#grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.img-grid {
  /* border: solid red 1px; */
  aspect-ratio: 1 / 1;
}

.img-grid img {
  /* border: solid yellow 1px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.2s ease;
  filter: grayscale(70%);
}


.img-grid img:hover {
  filter: grayscale(0%);
  object-fit: cover; /*po optimalizaci fotek by tohle mohlo jít, 
  prostě by to šlo do své originální šířky*/
  /*+ při rozkliknutí by byl obrázek v popředí přes větší část obrazovky,
  a pozadí blured - přes JS a toggle class .active-img 
  - ale nefunguje pro telefony! */
}

.imgOnClick img{
  filter: grayscale(0%);
  position: fixed;
  z-index: 500;
  max-width: 50%;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: initial;
}

.imgOnClickPseudo {
  background-color: rgba(0 0 0 / 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 501;
}

footer {
  background-image: var(--pattern-white);
  background-size: var(--pattern-size);
  background-repeat: repeat;
  background-attachment: fixed;
  /* background-color: white; */
  color: var(--secondary-color);
  text-align: center;
  height: 3rem;
  padding-top: 1rem;
}

.link-in-text {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
}

#about .link-in-text {
  color: gold;
}

.link-in-text:hover {
  font-weight: 700;
}

/**/

@media (max-width: 1700px) {
  .preview {
    font-size: 0.7rem;
  }

  .orientation-portrait .preview {
    font-size: 0.5rem;
  }
}

@media (max-width: 1400px) {
  .preview {
    font-size: 0.6rem;
  }

  .orientation-portrait .preview {
    font-size: 0.4rem;
  }
}

@media (max-width: 1200px) {
  aside,
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  header {
    padding-left: 0;
    padding-right: 0;
  }

  #preview-orientation.orientation-landscape {
    width: 100%;
  }

  .imgOnClick img {
    max-width: 70%;
    max-height: 90%;
  }
}

@media (max-width: 900px) {
  header {
    display: block;
  }

  h1 {
    font-size: 1.3rem;
  }

  #menu-icon {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #000;
    transition: background-color 0.3s ease;
    border: none;
  }

  #menu-icon::before,
  #menu-icon::after {
    content: "";
    position: absolute;
    top: 6px;
    background-color: #fff;
    width: 105%;
    height: 6px;
    left: -1px;
    transition: transform 0.4s ease;
  }

  #menu-icon::after {
    top: 18px;
  }

  #menu-icon.active-icon {
    /*specificity*/
    background-color: #fff;
  }

  #menu-icon.active-icon::before {
    background-color: #000;
    transform: rotate(45deg) scaleX(1.4) translate(3px, 4px);
    border-radius: 4px;
  }

  #menu-icon.active-icon::after {
    background-color: #000;
    transform: rotate(-45deg) scaleX(1.4) translate(3px, -4px);
    border-radius: 4px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .active-nav {
    display: block;
  }

  nav ul li a {
    width: 100%;
    padding: 0.8rem 0;
    justify-content: center;
    /* background-color: rgb(0 0 0 /0.2); */
  }

  nav ul li a:hover {
    background-color: var(--secondary-color);
  }

  main {
    height: min-content; /*tohle je už javascriptem, ne*/
  }

  #generator-section {
    display: block; /*zrušení flexboxu*/
  }


  #submit-button {
    bottom: -50px;
  }

  /* #text-change {
    color: red;
  } */

  #generator-form {
    padding-bottom: 2rem;
  }

  /* #preview-container {
    place-items: stretch;
  } */

  #preview-orientation.orientation-landscape {
    width: 80%;
  }

  #preview-orientation.orientation-portrait {
    width: 50%;
  }

  .imgOnClick img {
    max-width: 70%;
    max-height: 80%;
  }
}

@media (max-width: 650px) {
  #preview-orientation.orientation-landscape {
    width: 100%;
  }

  #preview-orientation.orientation-portrait {
    width: 80%;
  }

  footer {
    font-size: 0.7rem;
  }

  .preview {
    font-size: 0.6rem;
  }

}

@media (max-width: 565px) {

  .preview {
    font-size: 0.45rem;
  }



  .img-grid {
    pointer-events: none;
  }

  .img-grid img {
    filter: none;
  }

  .img-grid img:hover {
    cursor: inherit;
  }

  form {
    font-size: 0.75rem;
  }
}


/* hodnoty pro pdf A4 natvrdo v mm a procentech: */

.orientation-landscape .month {
  width: 297mm;
  height: 210mm;
}

.orientation-portrait .month {
  height: 297mm;
  width: 210mm;
}

.month {
  /* background-color: pink; */
  font-size: 1rem;
  padding: 3rem 3rem 4rem 3rem;
  z-index: -1;
  /*display: none; MUSI JIT VIDET, JINAK SE PRINTSCREEN NEUDELA*/
  position:absolute;
  /* right: -400%; */
}

.month .preview__days-of-week-container * {
  font-size: 1rem;
}



/* LOADER */

.loader-nonactive {
  display: none;
}

.loader-frame {
  z-index:300;
  --ball-color: #CCF6C8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	overflow: hidden;
  background: #34626C;
  opacity: .9;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	filter: contrast(6) hue-rotate(120deg);
}

.loader-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ball {
	background: #fff;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	filter: blur(5px);
}

.ball, .moving-big::after, .moving-small::after {
	background: var(--ball-color) !important;

}

.moving-big, .moving-small {
border-color: transparent !important; }

.moving-big { /*tohle je to malý čtverec, kolem kterého se bude točit velkej ::after pseudo efekt*/
	z-index: 3;
	width: 10px;
	height: 10px;
	background: trasparent;
	position: absolute;
	border-width: 5px;
	border-style: solid;
	border-color: green purple green purple;
	top: 30px;
	left: 30px;
	animation: rotate-forever 4s linear infinite;
	/*díky linear se to nepauzne po dodělání kolečka */
}

@keyframes rotate-forever {
	from {transform: rotate(0)}
	to {transform: rotate(360deg)}
}

@keyframes rotate-forever-backwards {
	from {transform: rotate(0)}
	to {transform: rotate(-360deg)}
}

.moving-big:nth-of-type(2) {
	left: 45px;
	top: 35px;
	animation-delay: 1.2s;
	
}

.moving-big:nth-of-type(3) {
	left: 30px;
	top: 51px;
	animation-delay: 0.5s;
	animation: rotate-forever-backwards 4s linear infinite; 
}
.moving-big::after {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: yellow;
	content: "";
	top: 0;
	left: 0;
	filter: blur(7px);
}

.moving-small { /*velký čtverec, kolem kterýho se bude otáčet malý ::after kolečko*/
	width: 100px;
	height: 100px;
	background: transparent;
	position: absolute;
	border-color: green purple green purple;
	border-style: solid;
	border-width: 5px;
	animation: rotate-forever 4s linear infinite; 
}

.moving-small:nth-of-type(5) {
	top: -20px;
	left: -30px;
	animation-delay: 2.5s;
	animation-duration: 3s;
}

.moving-small:nth-of-type(6) {
	top: 40px;
	left: -50px;
	animation-delay: .7s;
}

.moving-small:nth-of-type(7) {
	top: 70px;
	left: 20px;
	animation-delay: 1.4s;
}

.moving-small:nth-of-type(8) {
	top: -20px;
	left: 70px;
	width: 130px;
	animation-delay: .3s;
	animation: rotate-forever-backwards 4s linear infinite;
}

.moving-small:nth-of-type(9) {
	top: -80px;
	left: 40px;
	width: 130px;  
animation-delay: .4s;
}

.moving-small:nth-of-type(10) {
	top: -80px;
	left: -60px;
	height: 140px;
}

.moving-small:nth-of-type(11) {
	top: 30px;
	width: 200px;
		animation: rotate-forever-backwards 3.5s linear infinite;
}


.moving-small::after {
	position: absolute;
	width: 20px;
	height: 20px;
	background: yellow;
	content: "";
	border-radius: 50%;
	filter: blur(3px);
}

.moving-small:nth-of-type(5)::after {
	width: 15px;
	height: 15px;
	bottom: 0;
	right: 0;
}
.moving-small:nth-of-type(6)::after {
	width: 15px;
	height: 15px;
	right: 0;
}

.moving-small:nth-of-type(8)::after {
	width: 30px;
	height: 30px;
	bottom: 0;
	left: -10px;
}

.moving-small:nth-of-type(9)::after {
	width: 20px;
	height: 20px;
	bottom: 0;
}

.moving-small:nth-of-type(10)::after {
	width: 15px;
	height: 15px;
	bottom: 0;
	right: 0;
}